<div style="text-align: center;">
  <h2>Reactive Form with Ag-Grid</h2>
 
  <mat-grid-list cols="1" rowHeight="2:1">
  <form [formGroup]="ruleForm" (ngSubmit)="onSubmit()" style="margin-bottom: 20px;">
    <p>
    <mat-form-field class="example-full-width">
      <mat-label>Rule Name</mat-label>
      <input matInput placeholder="Ex. Pizza" name="ruleName" formControlName="ruleName">
    </mat-form-field>
   </p>
   
    <div *ngIf="ruleForm.get('ruleName')?.invalid && ruleForm.get('ruleName')?.touched">
    <span *ngIf="ruleForm.get('ruleName')?.hasError('required')">Rule name required</span>
    </div>
     <p>
  <mat-form-field>
    <mat-label>Active</mat-label>
    <mat-select  formControlName="active" name="active">
      <mat-option value="Y">Yes</mat-option>
      <mat-option value="N"> No</mat-option>
    </mat-select>
  </mat-form-field>
</p>
  <div *ngIf="ruleForm.get('active')?.invalid && ruleForm.get('active')?.touched">
  <span *ngIf="ruleForm.get('active')?.hasError('required')">required</span>
  </div>
<p>
<mat-form-field>
  <mat-label>Type</mat-label>
  <mat-select formControlName="type" name="type">
    <mat-option value="Match">Match</mat-option>
    <mat-option value="Custom">Custom </mat-option>
    <mat-option value="Monitor">Monitor </mat-option>
      </mat-select>

</mat-form-field>
</p>

<div *ngIf="ruleForm.get('type')?.invalid && ruleForm.get('type')?.touched">
  <span *ngIf="ruleForm.get('type')?.hasError('required')"> required</span>
 </div>

<p>
 <mat-form-field>
 <mat-label>Favourite</mat-label>
 <mat-select formControlName="favourite" name="favourite">
   <mat-option value="Y">Yes</mat-option>
   <mat-option value="N"> No</mat-option>
 </mat-select>
</mat-form-field>
</p>

<p>
  <mat-form-field>
  <mat-label>Scheduled</mat-label>
  <mat-select formControlName="scheduled" name="scheduled">
    <mat-option value="Y">Yes</mat-option>
    <mat-option value="N"> No</mat-option>
  </mat-select>
 </mat-form-field>
 </p>
 

<p>
  
  <mat-form-field>
    <mat-label>Created Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="createdDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</p>

<p>
  <mat-form-field>
  <mat-label>Alert</mat-label>
  <mat-select formControlName="alert" name="alert">
    <mat-option value="Y">Yes</mat-option>
    <mat-option value="N"> No</mat-option>
  </mat-select>
 </mat-form-field>
</p>
  <button mat-raised-button type="submit" [disabled]="ruleForm.invalid">Add</button>
  
  </form>


  <div>
      <button mat-raised-button (click)="onRemoveSelected()"> Remove Selected</button>
      
  </div>
  <div>
  <ag-grid-angular
    style="width: 600px; height: 300px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>

